
  <div class="ae-grid au-xs-ta-center au-mb-4">
    
    <div *ngFor="let persona of infoService.equipo"  class="animated fadeIn ae-grid__item item-lg-4 ae-kappa au-mb-3">
      <img [src]="persona.url" alt="" class="au-mb-3">
      <h5 class="ae-u-bolder au-mt-2">{{ persona.nombre }}</h5>
      <p class="ae-u-bolder au-mb-3">{{ persona.subtitulo }}</p>
      <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">{{ persona.frase }}</p>
      <a target="_blank" href="https://twitter.com/{{ persona.twitter }}" class="ae-u-bolder au-underline">{{ persona.twitter }}</a>
    </div>

  </div>
  
  <div class="ae-grid ae-grid--alt au-xs-ptp-1">
    <div class="ae-grid__item--alt item-lg-4">
      <h6 class="ae-u-boldest">Acerca de nosotros</h6>
      <p class="au-lh-3">Somos ingenieros de sistema buscando crear nuevas opciones a un mejor precio</p>
    </div>
    <div class="ae-grid__item--alt item-lg-4">
      <h6 class="ae-u-boldest">Nuestra mision</h6>
      <p class="au-lh-3">Somos una empresa mexicana dedicada a la seguridad residencial para todo aquel que busque cuidar su patrimonio de la creciente inseguridad<br></p>
    </div>
    <div class="ae-grid__item--alt item-lg-4">
      <h6 class="ae-u-boldest">Nuestros clientes</h6>
      <p class="au-lh-3">El marco de trabajo engloba cualquiero persona, asi como dependencias quienes busquen un producto de calidad</p>
      <p class="au-lh-3">Manejamos productos para cualquier escala</p>
    </div>
  </div>
  
